<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">

            <h2> <br></br>
            <font size="+5">Koo Lab</font>
            </h2>
            <ul class="actions">
                    <li><a href="#news" class="button big alt">About</a></li>
            </ul>
            <br></br><br></br><br></br></h2>
                

            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
